@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}


body{
  background: rgb(206, 215, 224);
}

